@import '../variables.scss';

.navigation {
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-family: $font;
  color: #428500;
  box-shadow: $shadow;
  display: grid;
  padding-left: 1rem;
  padding-right: 1rem;
}
